body{
    background-color: white;
}

#info{
    font-family: "Century Gothic";
    color: black;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #512da8;
    box-shadow: 0 1px 0 0 #512da8;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid #512da8;
    box-shadow: 0 1px 0 0 #512da8;
}

#title{
    color: crimson; font-family: Futura;
}




.strokeme
{

    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

