
.input-field input[type=text]:focus {
    border-bottom: 1px solid #512da8;
    box-shadow: 0 1px 0 0 #512da8;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid #512da8;
    box-shadow: 0 1px 0 0 #512da8;
}

body{
    background-color: white;
}


#color{
    color: black;
}